.insert-photo {
    background:#c7c9ff;
    border:1px dashed #2f32a0;
    border-radius:50%;
    float:left;
    font-weight:bold;
    margin:0 10px 10px 0;
    text-align:center;
    width:70px;
    height:70px;
   }

.insert-photo a {
    color:#2f32a0;
    display:table-cell;
    font-size:13px;
    line-height:13px;
    vertical-align:middle;
    text-align:center;
    width:70px;
    height:70px
}

.presentation-util{
    padding:2%;
    background-color: #787CE4;
}

.titre1 {
    font-size:20px;
    color:#2f32a0;
    padding-top:5%;
}