<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <!--Contenu de la page-->
  <section>
    <div class="entete">
      <h1 class="presentation-util">
        <span class="insert-photo">
          <a href="#">Photo</a>
        </span>
        <p style="color:#ffffff" *ngFor='let user of users | async'>Bonjour {{user.prenom}} !</p>
      </h1>
    </div>

    <!-- Proposer un trajet ? -->
    <!--<div class="accueil_trajet">
      <h3 class="titre1">Vous n'avez aucun trajet de prévu ...</h3>
      <p>Voulez-vous en proposer un ? Cliquez <a href="../tabs/tab3">ici</a> !</p> 
      <p>Voulez préférez rechercher un trajet ? Alors cliquez <a href="../tabs/tab1">là</a> !</p>
    </div>-->

    <!-- Trajets disponibles -->
    <div class="accueil_trajet">
      <h3 class="titre1">Liste des trajets prévus</h3>
      <ion-item *ngFor='let trajet of trajets | async'>
        <ion-label>Départ : {{trajet.VilleDepart}} {{trajet.HeureDepart}} | Arrivée : {{trajet.VilleArrivee}} {{trajet.HeureArrivee}}</ion-label>
      </ion-item>
    </div>
  </section>
</ion-content>
